<div class="jumbotron">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h1>FC</h1>
			<p>A simple way to study whenever you want, wherever you want</p>
		</div>
	</div>
</div>
