<%= render 'jumbotron' %>

<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1>About FC</h1>
			<p>This service is setup so you can setup a deck of flashcards and be able to take it on the go. FC is an extrmely
			easy way to just create the deck of flashcards that you want to use, and then look at it anywhere in the world(provided 
			you have internet!).Download and share your flashcards with friends and family and start learning today!</p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1>About us</h1>
			<p>FC was created by individuals who found flashcards to be helpful in their learning however, found it cumbersome
			to make and carry it around. With FC, individuals should be able to concentrate on their studies and have no excuses
			for not studying whereever they go.</p>
		</div>
	</div>
</div>