<%= render 'jumbotron' %>

<div class="container">
	<div class="row row-header">
		<div class="col-xs-12 col-md-12 col-sm-12">
			<h1>Contact us</h1>
			<p>Feel free to drop us a message or concern at the following through the following methods of contacts:</p>
			<div class="col-xs-12 col-sm-4 col-md-12">
			    <div class="nav navbar-nav" style="padding-top: 30px;">
			        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
			        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
			        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
			        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
			    </div>
			</div>
		</div>
	</div>

	<div class="row row-content">
		<div class="row">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-6 col-xs-12 col-sm-6">
					<h3>Our Address</h3>
					<ul class="list-unstyled">
						<li>FC</li>
						<li>3451 Spear St</li>
						<li>San Francisco, CA 94105</li>
						<li><a href="tel:14151234567">1(415)123-4567</a></li>
						<li><a href="mailto:cat@test.com">fc@example.com</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-xs-12 col-sm-6">
					<h3>Map</h3>
					<div id="googleMap" style="width:300px;height:300px;"></div>
					<p style="padding-bottom:20px;"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["maps_api_key"] %>&callback=initialize">
</script>
<script type="text/javascript">
	  //Creates map and marker
	  function initialize() {
	    var hq = new google.maps.LatLng(37.789180,-122.390029);
	    var mapProp = {
	      center:hq,
	      zoom:17,
	      mapTypeId:google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
	    
	    //Adds marker for location
	    var marker = new google.maps.Marker({
	      position:hq,
	      });
	    marker.setMap(map);
	  }

	  google.maps.event.addDomListener(window, 'load', initialize);
</script>
