<%= render 'jumbotron' %>

<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h1>Header</h1>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h1>Body</h1>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h1>Body</h1>
		</div>
	</div>
	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h1>Col1</h1>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h1>Col1</h1>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h1>Col1</h1>
			</div>
		</div>
	</div>
</div>