<%= render 'jumbotron' %>

<div class="container">
	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h1>Create decks on the fly!</h1>
			<p>Create your flashcard decks on the fly and safely store them on our servers</p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h1>Accessible</h1>
			<p>Look over your flashcards whenever and whever you want</p>
		</div>
	</div>
	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h1>Sharable</h1>
				<p>Share your cards with family and friends</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h1>Supports multiple languages</h1>
				<p>Wanting to use it for learning new languages, no problem</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h1>Free</h1>
				<p>Best of all, this service is free for all users</p>
			</div>
		</div>
	</div>
</div>