<div class="jumbotron">
	<div class="container">
		<h1>Jumbotron</h1>
	</div>
</div>

<div class="container">
	<div class="row row-header">
		<h1>Header</h1>
	</div>

	<div class="row row-content">
		<h1>Body</h1>
	</div>

	<div class="row row-content">
		<h1>Body</h1>
	</div>
	<div class="row row-content">
		<div class="col-md-4">
			<h1>Col1</h1>
		</div>
		<div class="col-md-4">
			<h1>Col1</h1>
		</div>
		<div class="col-md-4">
			<h1>Col1</h1>
		</div>
	</div>
</div>