<%= render 'jumbotron' %>

<div class="container">
	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="left-content col-md-8">
				<h1>Create decks on the fly!</h1>
				<p>Create your flashcard decks on the fly and safely store them on our servers.Share them with others and collaborate into making that the set of cards to study.</p>
			</div>
			<div class="right-content visible-lg col-md-4">
				<blockquote>
					<p>FC was very easy to be able to figure out to use and immediately study</p>
					<footer>Satisified studier</footer>
				</blockquote>
			</div>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="left-content col-md-8">
				<h1>Accessible</h1>
				<p>Look over your flashcards whenever and whever you want. Check out your cards whereever your are.</p>
			</div>
			<div class="right-content visible-lg col-md-4">
				<blockquote>
					<p>I love that I can study all the time</p>
					<footer>Lost student</footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="row row-content">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<h1 class="col-md-12 col-xs-12 col-sm-12">Features</h1>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h2>Sharable</h2>
				<p>Share your cards with family and friends</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h2>Supports multiple languages</h2>
				<p>Wanting to use it for learning new languages, no problem</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<h2>Free</h2>
				<p>Best of all, this service is free for all users</p>
			</div>
		</div>
	</div>
</div>