<div class="container">
	<div class="row row-header">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="padding-bottom:5%;"></p>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="pull-left">Decks</h2>
				<%= link_to "Create New Deck", '#', class: 'pull-right btn-success btn', style: 'margin-top:20px;' %>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<hr>
				<!-- Insert loop to go over to list each deck here with edit tabs to right and view to main link -->
			</div>
		</div>
	</div>
</div>