@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

/* Margin bottom by footer height */
body {
  margin-bottom: 130px;
}

/* Navbar */
$navbar-active: blue;

.navbar{
	margin-bottom: 0px;
	.container-fluid{
		ul li a{
			-o-transition: ease-out, background 0.5s ease-in;
			-ms-transition: ease-out, background 0.5s ease-in;
			-moz-transition: ease-out, background 0.5s ease-in;
			-webkit-transition: ease-out, background 0.5s ease-in;
			transition: ease-out, background 0.5s ease-in;
			&:hover{
				background-color: $navbar-active;
			}
		}

	}
}

/* Row */
.row-content{
	padding-bottom: 100px;
}

.row-header{
	padding-bottom: 20px;
}


/* Deck index */
.deck-header{
	border-bottom: 1px solid black;
}

/* Deck show */
.deck-content{
	a:not(.btn){
		font-size: 1.4em;
	}
}

/* Textarea */
textarea{
	resize: none;
}

/* Return button */
.return{
	position: absolute;
	bottom: 18%;
	left: 48%;
}

@media screen and (max-width: 480px){
	.return{
		left:40%;
	}
}

@media screen and (min-device-width: 414px) 
  			  and (max-device-width: 736px)  
  			  and (orientation: landscape){
	.return{
		bottom:22%;
		left:45%;
	}
}

/* Arrows */
.arrowright, .arrowleft{
	position: absolute;
	bottom: 50%;
	font-size: 1.5em;
}

.arrowright{
	right: 20%;
}

.arrowleft{
	left: 20%;
}

@media screen and (max-width: 960px){
	.arrowright{
		right:2%;
	}
	.arrowleft{
		left:2%;
	}
}

/* Arrow for disabled */
.disabled{
	cursor: default;
}

/* Card */
.front-card, .back-card{
	min-height: 200px;
	word-wrap: break-word;
}

/* Footer */
$footer-background: #E0DCD5;

.footer{
	background-color: $footer-background;

	/* Sticky settings */
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 30px;

	.container{
		.list-unstyled{
			margin-top: 20px;
		}
	}
}

